.error {
	font-weight: bold;
	color: #C00
	text-align: center;
}
.info {
  width: 80%;
  margin: 0 auto;
  display: inline-block;
  box-sizing: border-box;
  
}
#header {
	height:80px;
	margin:0 auto;
	width:80%;
}
#header h1 {
	color:#888;
	font-size:300%;
	letter-spacing:-3px;
	text-align:right;
	padding:5px;
	margin-bottom:-20px;
}
#header h2 {
	color:#0000ff;
	font-size:200%;
	letter-spacing:2px;
	text-align:right;
	margin-bottom:20px;
}
#posttable {
	border: 1px solid black;
	border-collapse: collapse;
	border-radius: 25px;
}
#upform {
	width: 80%;
	
}
.button {
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	border-radius: 3px;
	box-shadow: -1px -1px 4px 1px #00000052;
	background-color: #3366ff
	
}
.link {
	text-decoration: none;
	color: white;
}
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 15px 0px 15px 0px;
	text-align: center;
	color: white;
    background-color: #3366ff;
}
.colortext{
	color: red;
}